<div style=" height:250px; width:28rem">
        <p>Attendence</p>
        <canvas id="pieChart">bjguy</canvas>
</div>
<mat-grid-list cols="4" rowHeight=300px>
        <mat-grid-tile [colspan]=1>
                <div style=" width:12rem ; margin-bottom: 20px;margin-left: 20px;">
                        <mat-card [class.mat-elevation-z8]=true>
                                <span> Java</span>
                                <mat-progress-spinner mode="determinate" color="accent" strokeWidth="15" value='20'>
                                </mat-progress-spinner>
                        </mat-card>

                </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1>
                <div style=" width:12rem ; margin-bottom: 20px;margin-left: 20px;">
                        <mat-card [class.mat-elevation-z8]=true>
                                <span> c</span>
                                <mat-progress-spinner mode="determinate" color="accent" strokeWidth="15" value='59'>
                                </mat-progress-spinner>
                        </mat-card>
                </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1>
                <div style=" width:12rem ; margin-bottom: 20px;margin-left: 20px;">
                        <mat-card [class.mat-elevation-z8]=true>
                                <span> C++</span>
                                <mat-progress-spinner mode="determinate" color="accent" strokeWidth="15" value='70'>
                                </mat-progress-spinner>
                        </mat-card>
                </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1>
                <div style=" width:12rem ; margin-bottom: 20px;margin-left: 20px;">
                        <mat-card [class.mat-elevation-z8]=true>
                                <span> Node js</span>
                                <mat-progress-spinner mode="determinate" color="accent" strokeWidth="15" value='90'>
                                </mat-progress-spinner>
                        </mat-card>

                </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1>
                <div style=" width:12rem ; margin-bottom: 20px;margin-left: 20px;">
                        <mat-card [class.mat-elevation-z8]=true>
                                <span> Angular</span>
                                <mat-progress-spinner mode="determinate" color="accent" strokeWidth="15" value='42'>
                                </mat-progress-spinner>
                        </mat-card>
                </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1>
                <div style=" width:12rem ; margin-bottom: 20px;margin-left: 20px;">
                        <mat-card [class.mat-elevation-z8]=true>
                                <span> Vue js</span>
                                <mat-progress-spinner mode="determinate" color="accent" strokeWidth="15" value='75'>
                                </mat-progress-spinner>
                        </mat-card>
                </div>
        </mat-grid-tile>
</mat-grid-list>