<!-- <mat-progress-spinner mode="determinate" color="accent" strokeWidth="55" value="90"></mat-progress-spinner> -->
<div class="toolColor">
<mat-card>
                
                                <mat-tab-group>
                                                <mat-tab label="attendence"> 
                                                        
                                                                
                                                                <app-pie></app-pie>
                                                        </mat-tab>
                                                <mat-tab label="marks">  <app-table></app-table></mat-tab>
                                                <mat-tab label="classes"> <app-classes></app-classes> </mat-tab>
                                </mat-tab-group>
                      
                        
                
</mat-card>
</div>
<!-- 
<app-pie></app-pie> -->